@use '../../../styles/styles.scss' as styles;

h4 {
    text-transform: uppercase;
}

.opening--hours {
    

    list-style: none;
    padding-inline: 0;

    li{
    display: flex;
    justify-content: space-between;
        span{
            margin-inline-start: 2rem;
        }
    }
}

@include styles.tablet{

    h4{
        // margin-block-start: 2em;
    }
    .opening--hours {

        li{
            margin-right:auto ;
            max-width: 200px;
        }
    }
}