<div class="grid">
    <div class="grid__about" id="about">
        <div class="max__width--left">
            <h3 >Om oss</h3>
            <p>Välkommen till Rustic Pasta - den bästa restaurangen för en autentisk italiensk matupplevelse! Hos oss handlar det inte bara om att äta, utan om att njuta av varje tugga tillsammans med vänner och familj. Från vår grymma carbonara till våra härliga efterätter är varje rätt tillagad med kärlek för den bästa smakupplevelsen.</p>
        </div>
    </div>
    <div class="grid__info">
        <app-open-hours></app-open-hours>
        <div>
            <app-find-us class="dark"></app-find-us>
            <button class="btn__primary--red" (click)="openAddDialog()">Kontakta Oss</button>
        </div>
    </div>
</div>