<div class="hero">
    <div class="hero__img--container">
        <picture>
            <source srcset="{{ imgLinkAVIF }}" type="image/avif">
            <img class="hero__img" src="{{ imgLinkJPG }}" alt="">
             </picture>
        <!-- <img class="hero__img" [src]="imgLinkJPG" alt=""> -->
    </div>
    <div class="hero__content">
        <h1 class="hero__title">Smaka på Italien</h1>
        <h2 class="hero__title--sub">En pastaupplevelse utöver det vanliga</h2>
        <p>På Rustic Pasta tror vi på att erbjuda mer än bara mat - vi erbjuder en upplevelse. Med vårt engagemang för kvalitet och traditionella metoder tar vi dig med på en resa genom Italiens smaker.</p>
        <div class="hero__buttons">
            <button [routerLink]="'/order'" class="btn__primary--red">BESTÄLL ONLINE</button>
            <a href="#menu" class="btn__outline--beige">Meny</a></div>
        </div>
</div>