@use '../../../styles/styles.scss' as styles;


div{
    background-color: styles.$primary-dark;
    height: 90dvh;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;

    section{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1,h2 {
            color: styles.$white-color;
        }
    }

}