@use '../../../../styles/styles.scss' as styles;


.cart{
    padding: 1rem;
    max-height: 95dvh;

    h4{
        margin-bottom: 1em;
        text-transform: uppercase;
    }
}

.scroller{
    overflow-y: auto;
}

.order__items{
    overflow-y: scroll; 
    background-color: styles.$primary-light;

}

.order__item{
    border-bottom: 1px solid styles.$primary-dark;
    margin-bottom: 1em;
}

.order__summary{
    margin-top: 2em;
    padding-inline: 1rem;
    border-bottom: 1px solid styles.$primary-dark;

    .summary{
        display: flex;
        justify-content: space-between;
        
        span{
            color: styles.$primary-dark;
        }
    }
}

.cashout{
    width: 100%;
    margin-block: 1rem;
}

.price__container{
    display: flex;
    justify-content: space-between;
    margin-block: 1em;
}


.price{
    position: relative;
    color: styles.$primary-red;

    .sek{
        font-size: 0.625rem;
        position: absolute; // För att kunna placera det exakt
        top: 0; // Placera det i höjd med toppen av förälderelementet
        margin-left: 0.1em; // Justera avståndet mellan siffran och "sek"
    }
}

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    }


    input[type="number"] {
    border: none !important;

    }

.number-input {
    display: flex;
    align-items: center;
    background-color: none;
    margin: 0;


    button {
        border: none;
        border-radius: 50%;
        padding: 0.5rem;
        color: #fff;
        width: 2rem; // Sätt bredden på knappen
        height: 2rem; // Sätt höjden på knappen
        display: flex;
        justify-content: center; // Centrerar innehållet horisontellt
        align-items: center; // Centrerar innehållet vertikalt
        line-height: 0; /* Adjust line height to center content vertically */

        font-size: 1.5rem;
        cursor: pointer;;

        &:focus {
            outline: none;
        }
    }

    .minus {
        background-color: styles.$primary-dark; // Använd den mörka färgen för plusknappen

    }

    .plus {
        background-color: styles.$primary-red; // Använd den röda färgen för minusknappen

    }

    input[type="number"] {
        width: 4rem;
        text-align: center;
        border: 1px solid #d1d1d1;
        border-left: none;
        border-right: none;
        font-size: 1.25rem;

        &:focus {
            outline: none;
        }
    }
}

.danger{
    display: block;
    text-align: center;
    margin-inline: auto;
}

.clear {
    margin-top: 2em;
}
