.receipt{
    max-width: 400px;
    margin-inline: auto;
    margin-block: 1em;
    background-color: rgb(255, 249, 223);
    padding: 1rem;

    p, h2{
        display: flex;
        justify-content: space-between;
    }
    span{
        font-weight: 700;
    }

    ul{
        list-style: none;
        padding: 0;
    }
    .img__container{
        margin-inline: auto;
        margin-block-start: 2em;
        width: 50%;

    }

}