<h1>Kategorier</h1>
<button mat-flat-button color="primary" (click)="openAddDialog()" class="add"><mat-icon>add</mat-icon> Lägg till</button>
<mat-form-field>
    <mat-label>Sök</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Sök på kategorier" #input>
  </mat-form-field>

<div class="table__container">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sortera på namn">
        Namn
      </th> 
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sortera på Beskrivning">
        Beskrivning
      </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <ng-container matColumnDef="published">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sortera på publicerad">
        Publicerad
      </th>
      <td mat-cell *matCellDef="let element"> {{element.published}} </td>
    </ng-container>

    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sortera på ordning">
        Ordning
      </th>
      <td mat-cell *matCellDef="let element"> {{element.order}} </td>
    </ng-container>
  
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        Redigera
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="button__container">
          <button mat-icon-button (click)="openEditDialog(element)"> <mat-icon>edit</mat-icon> </button>
        </div>
        
      </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Välj antal rader per sida"></mat-paginator>
</div>
