<app-hero></app-hero>
@defer (on viewport) {
    <app-featured-images-slider></app-featured-images-slider>
} @placeholder {
    <app-lazyload></app-lazyload>
}

@defer (on viewport) {
    <app-info-section id="about"></app-info-section>
} @placeholder {
    <app-lazyload></app-lazyload>
}


@defer (on viewport) {
    <app-menu-slider id="menu"></app-menu-slider>
} @placeholder {
    <app-lazyload id="menu"></app-lazyload>
}


<app-cta 
    title="ITALIEN I DITT VARDAGSRUM" 
    ctaText="Få smaken av Italien hem till dig! Beställ våra läckra rätter online och njut av äkta italiensk mat var du än är. Beställ nu för en enkel och bekväm take-away-upplevelse!"
    cta buttonText="Beställ online" 
    buttonLink="/order" 
ctaClass="cta__light">
</app-cta>

