<div class="keen-slider" #sliderRef>
    <div class="keen-slider__slide slide">
        <picture>
            <source srcset="../../../assets/img/1.avif" type="image/avif">
            <img class="slide__img" src="../../../assets/img/1.jpg" fill alt="Kvinna njuter av pasta">
        </picture>
    </div>
    <div class="keen-slider__slide slide">
        <picture>
            <source srcset="../../../assets/img/2.avif" type="image/avif">
            <img class="slide__img" src="../../../assets/img/2.jpg" fill alt="Öl tappas från öltapp">
        </picture>
    </div>
    <div class="keen-slider__slide slide">
        <picture>
            <source srcset="../../../assets/img/3.avif" type="image/avif">
            <img class="slide__img" src="../../../assets/img/3.jpg" fill alt="Krämig pasta lindad runt gaffel">
        </picture>
    </div>
    <div class="keen-slider__slide slide">
        <picture>
            <source srcset="../../../assets/img/4.avif" type="image/avif">
            <img class="slide__img" src="../../../assets/img/4.jpg" fill alt="Vinflaskor i hylla">
        </picture>
    </div>

  </div>
  