<div class="keen-slider" #sliderRef>
    <div class="keen-slider__slide slide">
        <img class="slide__img" ngSrc="../../../assets/img/1.jpg" fill priority alt="">
    </div>
    <div class="keen-slider__slide slide">
        <img class="slide__img" ngSrc="../../../assets/img/2.jpg" fill alt="">
    </div>
    <div class="keen-slider__slide slide">
        <img class="slide__img" ngSrc="../../../assets/img/3.jpg" fill alt="">
    </div>
    <div class="keen-slider__slide slide">
        <img class="slide__img" ngSrc="../../../assets/img/4.jpg" fill alt="">
    </div>

  </div>
  