.slide{
  width: 100%; 
  position: relative;
  max-height: 300px;
  height: 300px;
  overflow: hidden;

  &__img {
    position: relative;
    width: 100%; // Make the image fill its container
    height: 100%; // Make the image fill its container
    object-fit: cover; // Ensure the image covers the entire container without distortion

  }
}

